.addToCartBttn {
    background-color: plum; 
    color: purple;
    padding: 10px 20px;
    border: none; 
    border-radius: 30px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    display: inline-flex; 
    align-items: center; 
  }
  
  .addToCartBttn:hover {
    background-color:purple; 
  }
  
  .addToCartBttn:active {
    background-color:purple; 
  }
  
  .addToCartBttn:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(132, 38, 153, 0.5); 
  }
  
  
  .addToCartBttn span {
    margin-left: 10px; 
    font-weight: bold;
    background-color: #fff; 
    color: #28a745; 
    padding: 2px 6px;
    border-radius: 50%; 
  }
  